@use "./variables" as *;

.about {
  display: flex;
  height: 41.31rem;
  transition: height 0.3s ease; 

  &__text {
    display: flex;
    align-items: center; 
    padding: 7.125rem 4.44rem 9.56rem 7.5rem; 
  }

  &__content {
    max-width: 41.3125rem; 
    margin: 0 auto; 
  }

  &__title {
    font-size: 2rem; 
    font-weight: bold;
    color: $light-green;  
    margin-bottom: 1.5rem;
  }

  &__description {
    font-size: 1rem;
    color: $gray;
    font-weight: 400;
    margin-bottom: 1.3125rem;

    &:last-of-type {
      margin-bottom: 3.5rem;
    }
  }

  &__image {
    flex: 1; 
    background-image: url("/images/about-img.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 41.31rem; 
  }

  .btn {
    background-color: $light-green; 
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($light-green, 10%);
    }
  }
}

@media (max-width: 1024px) {
  .about {
    flex-direction: column; 
    height: auto; 

    &__text {
      padding: 2rem 1.5rem 1.5rem;
      align-items: flex-start; 
    }

    &__content {
      max-width: 100%; 
      margin: 0;
    }

    &__title {
      font-size: 1.75rem; 
    }

    &__description {
      font-size: 1.125rem; 
      line-height: 1.5; 
    }

    &__image {
      order: 2; 
      width: 100%; 
      background-size: cover; 
    }

    .btn {
      align-self: flex-start; 
      margin-top: 1rem;
    }
  }
}


@media (max-width: 480px) {
  .about {
    min-height: 35rem; 

    &__text {
      padding: 1.5rem 1rem 1rem; 
    }

    &__title {
      font-size: 1.5rem;
    }

    &__description {
      font-size: 1rem; 
      margin-bottom: 1rem;
    }

    &__image {
      height: 18rem; 
    }
  }
}
