// Colors
$white: #FEFFFA;
$light-green: #2D532D;
$hover-green: #48865d;
$green: #1D4C3C;
$background-green: #16463A;
$black: #171200;
$gray: #575757;

// Fonts
$button-font: normal normal 500 16px / 1.5 Poppins, sans-serif;

// Padding
$button-padding: 0.625rem 1.5rem;